<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3286b27e-dca7-4b7a-97fc-d7c9c6eeab4e/resourcegroups/learn-dcae15b8-1a6a-4ee1-a4af-b62736efd77d/providers/Microsoft.Web/sites/CaseStudyTeam2Final20201211121814</ResourceId>
    <ResourceGroup>learn-dcae15b8-1a6a-4ee1-a4af-b62736efd77d</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://casestudyteam2final20201211121814.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>84b1ccfa-819f-48ad-a9e7-290f21f5c8fb</ProjectGuid>
    <MSDeployServiceURL>casestudyteam2final20201211121814.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CaseStudyTeam2Final20201211121814</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CaseStudyTeam2Final20201211121814</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>